@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* button {
    margin-left: 9px;
} */


.messages {
    scrollbar-color: rgb(202, 151, 56) transparent;
    scrollbar-width: thin;
}

  body, html{
    overflow-y:hidden 
}  

.burger-menu {
    display: none;
}

.unstyled-images {
    margin-left:70px !important;
}

.phone-link {
    display: none;
}

/* .messages img {
    width:70px !important;
    max-height: 72px;
} */
@media  (max-width : 600px) {
    .remove-padding {
        padding:0 !important;
    }
    .pc-link {
        display: none;
    }
    .phone-link {
        display: flex;
    }
    .burger-menu {
        display: flex;
    }
    xinput {
        color: white;
    }
    .form-test{
        height:140px !important;
    }
 
     .icons {
        display: none;
     }

     .phone-class {
        width:initial !important;
     }
     .h-\[calc\(100vh-\(55px\+100px\)\)\] {
        height: calc(100vh - 173px);
    }
}